@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
.body-bienvenida {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #1a1a1a, #000);
  overflow: hidden;
}

.bienvenida {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo-bienvenida {
  font-size: 48px;
  color: #fff;
  text-align: center;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.loading-dots {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

.loading-dot {
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  animation: bounce 0.6s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}
body {
  font-family: "Arial", sans-serif;
  background-color: #1f1f1f;
  margin: 0;
  padding: 0;
  color: white;
  /* Estilo opcional para la primera sección */
}
body header {
  height: 80vh; /* Establece la altura del encabezado al 100% de la altura de la ventana */
  overflow: hidden; /* Evita que el carrusel genere barras de desplazamiento */
  text-align: center;
  font-size: 24px;
}
body .navbar-toggler {
  background-color: black;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
}
body .navbar-lista-menu {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding: 10px;
}
body .navbar-lista-menu .nav-link {
  color: #333;
  transition: color 0.3s;
}
body .navbar-lista-menu .nav-link:hover {
  color: #007bff;
}
body .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #ffffff; /* Cambiar el color del texto a blanco */
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
body .nav-link:hover {
  color: #ffdb58; /* Mantener la transición al color  al pasar el mouse */
}
body .nav_menu {
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  padding: 15px;
}
body .nav_menu nav a {
  color: white;
  text-decoration: none;
  padding: 15px;
  margin: 0 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
}
body .nav_menu nav a:hover {
  background-color: #ffdb58;
  color: #1a1a1a;
}
body .carousel {
  height: 800px; /* Establece la altura del carrusel */
  margin-bottom: 20px; /* Agrega un margen inferior opcional para separar el carrusel de otros elementos */
}
body .carousel-inner {
  width: 100%;
  height: 100%;
}
body .carousel-item {
  justify-content: center; /* Centra horizontalmente la imagen */
  align-items: center; /* Centra verticalmente la imagen */
  height: 100vh; /* Establece la altura del carrusel al 100% de la altura de la ventana */
}
body .carousel-item img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* La imagen se estira para cubrir todo el contenedor */
  transition: opacity 0.5s ease; /* Suaviza la transición */
}
body .gif-animation {
  filter: grayscale(50%);
  position: absolute;
  left: 0;
  opacity: 0;
  top: -10px; /* Ajusta la posición vertical hacia arriba */
  animation: ciclo 20s infinite;
  width: 15%;
  height: 100px;
}
@keyframes ciclo {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body main {
  padding: 40px;
  text-align: center;
  margin-bottom: 200px;
}
body h1 {
  color: black;
}
body .title-bar {
  margin: 0 auto;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s;
  font-family: "Roboto", sans-serif;
  color: white; /* Color del texto */
  font-size: 3rem; /* Tamaño de la fuente */
  z-index: 1; /* Para asegurar que esté encima del carrusel */
}
body .title-bar:hover {
  opacity: 0.5;
}
body .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color de superposición semitransparente */
}
body h2 {
  color: #ffdb58;
}
body .sub-menu {
  margin-bottom: 40px;
}
body p {
  color: #ccc;
  font-size: 1.2em;
}
body #testimonios {
  margin-top: 250px; /* Espacio en la parte superior de la segunda sección */
}
body #testimonios .separacion-paginacion {
  margin-top: 50px;
}
body section:first-child {
  margin-bottom: 1px; /* Espacio en la parte inferior de la primera sección */
}
body .servicios {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  flex-wrap: wrap;
  text-align: center;
}
body .servicios .servicios-box {
  position: relative;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 30%;
  margin-bottom: 20px;
  overflow: hidden;
  transition: 0.3s;
  box-sizing: border-box;
}
body .servicios .servicios-box img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
}
body .servicios .servicios-box:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
body .servicios .servicios-box:hover {
  filter: brightness(70%);
}
body .servicios .servicios-box:hover img {
  transform: scale(1.1);
}
body .servicios .servicios-box .servicios-titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.5em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 768px) {
  body .servicios .servicios-box {
    width: 100%;
  }
}
body .coffee-list,
body .cerveza-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
body .coffee-list .coffee-item,
body .coffee-list .cerveza-item,
body .cerveza-list .coffee-item,
body .cerveza-list .cerveza-item {
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
body .coffee-list .coffee-item h3,
body .coffee-list .cerveza-item h3,
body .cerveza-list .coffee-item h3,
body .cerveza-list .cerveza-item h3 {
  color: white;
  margin-bottom: 10px;
}
body .coffee-list .coffee-item p,
body .coffee-list .cerveza-item p,
body .cerveza-list .coffee-item p,
body .cerveza-list .cerveza-item p {
  color: #ccc;
}
body .card {
  height: 400px; /* Altura fija deseada para las tarjetas */
  background-color: black; /* Color de fondo grisáceo */
}
body .card-img-top {
  height: 300px; /* Establece una altura fija para todas las imágenes */
  object-fit: cover; /* Ajusta la imagen para que cubra la altura especificada */
}
body .month-day-column {
  background-color: #333;
  color: #fff;
}
body .month-column {
  background-color: #ff5f5f;
  color: #fff;
}
body .day-column {
  background-color: #70a1ff;
  color: #fff;
}
body .container-proeventos {
  margin: 0 auto;
  max-width: 100%; /* Ancho máximo de la tabla igual al ancho del contenedor */
  overflow-x: auto; /* Hace que la tabla sea desplazable horizontalmente si es necesario */
}
body .container-proeventos table {
  margin-right: 10px; /* Agrega un margen derecho de 10px a la tabla */
}
body table.container-proeventos {
  border-collapse: separate; /* Cambia a border-collapse: separate; */
}
body .month-day-column {
  position: relative;
  width: 100px; /* Ajusta el ancho según tus necesidades */
  height: 50px; /* Ajusta la altura según tus necesidades */
}
body .month-day-column::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom Left, black 49.5%, black 50.5%, transparent 50.5%);
}
body .half-column-left {
  position: absolute;
  width: 50%;
  height: 100%;
}
body .half-column-right {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 5px;
}
body .half-column:nth-child(1) {
  left: 0;
  text-align: left;
}
body .half-column-right:nth-child(2) {
  right: 10px;
  text-align: right;
}

.body-promociones {
  font-family: "Arial", sans-serif;
  background-color: #1f1f1f;
  margin: 0;
  padding: 0;
  color: white;
}
.body-promociones .header-promociones {
  height: 80vh; /* Establece la altura del encabezado al 100% de la altura de la ventana */
  overflow: hidden; /* Evita que el carrusel genere barras de desplazamiento */
  text-align: center;
  color: white;
  font-size: 24px;
}
.body-promociones .carousel-item {
  position: relative;
}
.body-promociones .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/TpProyectoSitioWeb_CH/imagenes/HappyHour-Promocions-Personas.jpg"); /* Cambia la URL por la de tu imagen */
  background-size: cover;
  background-position: center;
  filter: blur(10px); /* Aplica un filtro de desenfoque */
  z-index: -1;
}
.body-promociones .background-image-HappyHour-carrusel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/TpProyectoSitioWeb_CH/imagenes/HappyHour-carrusel.jpeg"); /* Cambia la URL por la de tu imagen */
  background-size: cover;
  background-position: center;
  filter: blur(10px); /* Aplica un filtro de desenfoque */
  z-index: -1;
}
.body-promociones .background-image-HappyHour-letra {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/TpProyectoSitioWeb_CH/imagenes/HappyHour-letras.jpeg"); /* Cambia la URL por la de tu imagen */
  background-size: cover;
  background-position: center;
  filter: blur(10px); /* Aplica un filtro de desenfoque */
  z-index: -1;
}
.body-promociones .carousel-item img {
  object-fit: cover;
  max-width: 75%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  transition: opacity 0.5s ease;
}
.body-promociones .navbar-promociones {
  background-color: #991111;
}
.body-promociones #nav-promociones {
  background-color: #550000;
  color: white;
  text-align: center;
  padding: 15px;
}
.body-promociones .navbar-lista-menu {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding: 10px;
}
.body-promociones .navbar-lista-menu .nav-link {
  color: #333;
  transition: color 0.3s;
}
.body-promociones .navbar-lista-menu .nav-link:hover {
  color: #007bff;
}
.body-promociones .navbar-toggler {
  background-color: #ffc107;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
}
.body-promociones .navbar-toggler:focus, .body-promociones .navbar-toggler:hover {
  background-color: #ffca28;
  outline: none;
}
.body-promociones .navbar-nav .active a {
  color: #ffffff;
  background-color: #007bff;
  border-radius: 5px;
}
.body-promociones #nav-promociones a:hover {
  background-color: #991111;
}
.body-promociones .descripciones-promociones {
  color: #991111;
}
.body-promociones .promociones {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}
.body-promociones .promociones .promociones-box {
  background-color: #3c3c3c;
  padding: 20px;
  list-style: none;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin-right: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s;
  width: 100%;
  height: 250px;
}
.body-promociones .promociones .promociones-box:hover {
  transform: scale(1.05);
}
.body-promociones .promociones .promociones-box h2 {
  color: #991111;
  margin-bottom: 30px;
}
.body-promociones .promociones .promociones-box p {
  color: white;
  font-size: 1.2em;
  text-align: center;
}
.body-promociones .footer-promociones {
  background-color: #550000;
  color: white;
  text-align: center;
  padding: 15px;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body-promociones .footer-promociones .redes-sociales i {
  font-size: 2em;
  margin: 0 10px;
  color: white;
}
.body-promociones .footer-promociones .redes-sociales a {
  text-decoration: none;
}
.body-promociones .footer-promociones .copy-derecho {
  margin-top: auto;
}

footer {
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  padding: 15px;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .redes-sociales i {
  font-size: 2em;
  margin: 0 10px;
  color: white;
}
footer .redes-sociales a {
  text-decoration: none;
}
footer .copy-derecho {
  margin-top: auto;
}
footer .whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .whatsapp-float:hover {
  background-color: #128c7e;
  color: #fff;
}
footer .whatsapp-float i {
  font-size: 24px;
}
footer .margen-inferior {
  margin-bottom: 80px;
}
footer .margen-superior-inferior {
  margin-top: 20px;
  margin-bottom: 20px;
}

.item-hamburguesa {
  text-align: left; /* Alinea el texto a la izquierda */
}

.boton-hamburguesa {
  background-image: url("ruta/a/tu/imagen.jpg"); /* Ruta a tu imagen de fondo */
  background-size: cover; /* Cubre todo el espacio disponible */
  background-position: center; /* Centra la imagen */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra */
  color: white; /* Color del texto */
  font-family: "Arial", sans-serif; /* Tipografía */
  padding: 5px; /* Espaciado interno */
}

#carouselExampleSlidesOnly {
  max-width: 100%;
  margin: 0 auto; /* Centrar el carrusel en la pantalla */
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
#navbarListadoMenu {
  top: 75px; /* Ajusta este valor según sea necesario */
}

.offcanvas {
  animation: slideIn 0.3s forwards;
  background-color: #1a1a1a; /* Cambiar el color de fondo */
  border-radius: 10px; /* Agregar bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agregar sombra */
}

.offcanvas-body {
  padding: 20px; /* Agregar espacio interno */
}

.offcanvas-end {
  top: 0;
  right: 0;
  width: 300px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
}

/* Estilos para los enlaces del menú */
.navbar-nav .nav-link {
  color: #fff; /* Cambiar el color del texto */
  padding-right: 10px;
  padding-left: 10px;
}

.navbar-nav .nav-link:hover {
  color: #ffd700; /* Cambiar el color del texto al pasar el cursor */
}

.offcanvas-title {
  font-size: 1.5rem; /* Tamaño de la fuente del título */
}

.navbar-nav .nav-link {
  color: white; /* Color del texto de los enlaces */
}

.navbar-nav .nav-link:hover {
  color: #ffd700; /* Cambia el color del texto al pasar el cursor */
}

.navbar-nav .nav-link i {
  margin-right: 5px; /* Espacio entre el icono y el texto */
}

/* Oculta la barra de navegación en dispositivos con un ancho máximo de 768px */
/* Media queries */
/* Pantallas pequeñas (320px) */
@media (max-width: 320px) {
  .gif-animation,
  .gif-animation-mobile {
    display: none; /* Oculta el contenido en dispositivos móviles */
  }
  .carousel-inner {
    max-height: 300px; /* Ajusta la altura máxima de las imágenes */
  }
  .carousel-item img {
    max-height: 600px; /* Ajusta la altura máxima de las imágenes */
    margin-top: -50px; /* Ajusta el margen superior para subir la imagen */
  }
  .main-home {
    margin-top: -200px; /* Ajusta el margen superior para subir la imagen */
  }
  .main-promociones {
    margin-top: -180px; /* Ajusta el margen superior para subir la imagen */
  }
  #navbarListadoMenu {
    top: 120px;
  }
}
/* Pantallas medianas (321px - 540px) */
@media (min-width: 321px) and (max-width: 540px) {
  .promociones .promociones-box {
    margin-bottom: 20px;
  }
  .gif-animation,
  .gif-animation-mobile {
    display: none; /* Oculta el contenido en dispositivos móviles */
  }
  .mobile-cerveza-logo {
    text-align: center; /* Centra el contenido horizontalmente */
  }
  .gif-animation-mobile {
    display: inline-block;
    margin-top: -200px; /* Ajusta el margen superior */
  }
  .carousel-inner {
    max-height: 300px; /* Ajusta la altura máxima de las imágenes */
  }
  .carousel-item img {
    max-height: 600px; /* Ajusta la altura máxima de las imágenes */
    margin-top: -50px; /* Ajusta el margen superior para subir la imagen */
  }
  main {
    margin-top: -150px; /* Ajusta el margen superior para subir la imagen */
  }
  #navbarListadoMenu {
    top: 120px;
  }
}
/* Pantallas medianas (432px - 540px) */
@media (min-width: 432px) and (max-width: 540px) {
  main {
    margin-top: -200px; /* Ajusta el margen superior para subir la imagen */
  }
  #navbarListadoMenu {
    top: 70px;
  }
  .container-proeventos {
    width: 100%; /* Cambia el ancho al 100% para que se ajuste al ancho del dispositivo */
  }
}
/* Pantallas medianas-grandes (541px - 767px) */
@media (min-width: 541px) and (max-width: 767px) {
  .promociones .promociones-box {
    margin-bottom: 20px;
  }
  .gif-animation,
  .gif-animation-mobile {
    display: none; /* Oculta el contenido en dispositivos móviles */
  }
  .mobile-cerveza-logo {
    text-align: center; /* Centra el contenido horizontalmente */
  }
  .gif-animation-mobile {
    display: inline-block;
    margin-top: -200px; /* Ajusta el margen superior */
  }
  .carousel-inner {
    max-height: 400px; /* Ajusta la altura máxima de las imágenes */
  }
  .carousel-item img {
    max-height: 600px; /* Ajusta la altura máxima de las imágenes */
    margin-top: -50px; /* Ajusta el margen superior para subir la imagen */
  }
  main {
    margin-top: -100px; /* Ajusta el margen superior para subir la imagen */
  }
  #navbarListadoMenu {
    top: 70px;
  }
  .container-proeventos {
    width: 100%; /* Cambia el ancho al 100% para que se ajuste al ancho del dispositivo */
  }
}
/* Pantallas grandes (768px - infinito) */
@media (min-width: 768px) {
  .servicios .servicios-box {
    width: 100%;
  }
  .gif-animation-mobile,
  .boton-hamburguesa {
    display: none !important;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }
  nav a {
    margin: 5px 0;
  }
  .container-proeventos {
    width: 100%; /* Cambia el ancho al 100% para que se ajuste al ancho del dispositivo */
  }
}

/*# sourceMappingURL=style.css.map */
